
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Trevo</title>   
</head>
<body>
    <div class="gameContainer">
        <div id="game"></div>
        <script src="~/dist/bundle.js"></script>
    </div>
    <style>
        * {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        canvas{
            margin: 0 !important;
            padding: 0 !important;
        }
    </style>
</body>
</html>
